/* Styles généraux */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000f1;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Conteneur principal */
.container {
    background: #2e2e2e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    width: 100%;
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Titres */
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: hwb(0 0% 0%);
    margin-bottom: 30px;
    border-bottom: 2px solid hwb(0 0% 0%);
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.7rem;
    color: hwb(0 100% 0%);
    margin-top: 20px;
    border-left: 5px solid hwb(0 0% 0%);
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Paragraphes */
p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

/* Liens */
a {
    color: hwb(0 0% 100%);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: hwb(0 0% 0%);
}

/* Bouton accepter */
button.accept-btn {
    background-color: hwb(0 100% 0%);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 30px auto;
}

button.accept-btn:hover {
    background-color: rgb(233, 220, 220)
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}
